{% if product %}
    <div class="product-addon" x-data="productAddon({{ product.variants.first.id | json }})">
      <div class="product-addon-content">
        <img src="{{ product.featured_image | image_url: width: 62, height: 62 }}"  width="62" height="62"  alt="{{ product.title | escape }}">
        <p>{{ product.title }}</p>
        <p>{{ product.price | money_with_currency }}</p>
      </div>
      <button
        x-text="addedToCart ? '- Remove' : '+ Add'"
        :class="{'added': addedToCart, 'not-added': !addedToCart}"
        @click="toggleAddToCart()"
      ></button>
    </div>
  {% else %}
    <p>Product not found.</p>
  {% endif %}

<script>
document.addEventListener('alpine:init', () => {
    Alpine.data('productAddon', function (productId) {
        return {
            productId: productId,
            addedToCart: false,
            toggleAddToCart() {
                this.addedToCart = !this.addedToCart;
                this.$dispatch('add-to-cart', { productId: this.productId, added: this.addedToCart });
            },
            init() {
                document.addEventListener('reset-addons', () => {
                    this.addedToCart = false;
                });
            }
        };
    });
});
</script>
