{% if product %}
    <div class="product-addon" x-data="{ addedToCart: false }">
      <div class="product-addon-content">
        <!-- Using image_url filter to generate an image URL with specified dimensions -->
        <img src="{{ product.featured_image | image_url: width: 62, height: 62 }}" alt="{{ product.title | escape }}">
        <p>{{ product.title }}</p>
        <p>{{ product.price | money_with_currency }}</p>
      </div>
      <button
        x-text="addedToCart ? '- Remove' : '+ Add'"
        x-bind:class="{'added': addedToCart, 'not-added': !addedToCart}"
        @click="addedToCart = !addedToCart; $dispatch('add-to-cart', { productId: {{ product.variants.first.id | json }}, added: addedToCart })"
      ></button>
    </div>
  {% else %}
    <p>Product not found.</p>
  {% endif %}
  